= form_for [stand, stand.comments.build] do |f|
  = render partial: 'shared/error_messages', locals: { object: f.object }
  .form-group
    = f.text_area :body, class: 'form-control'
  = f.submit '댓글', class: 'btn btn-default btn-xs pull-right'
  .clearfix
