- unless version.is_first?
  %li.list-group-item
    .list-group-item-text
      - if version.change_choice?
        입장을 변경했습니다.
      - if version.change_reason?
        이유를 변경했습니다 :
        = truncate(version.reason)
    .list-group-item-footer
      = render partial: 'shared/status_footer', locals: { choicable: version, previous_choicable: (version.previous if version.change_choice?), object: version }

