%li.list-group-item
  .list-group-item-text
    - if stand == support.target
      위의
      = support.target.user.email
      님 입장을 지지합니다.
    - else
      = link_to support.target do
        = support.target.user.email
        님의 입장
      을 지지합니다.
  .list-group-item-footer
    = render partial: 'shared/status_footer', locals: { choicable: support.stand, object: support.stand }
