= form_for [(stand.poster unless stand.persisted?), stand] do |f|
  = render partial: 'shared/error_messages', locals: { object: stand }
  = f.fields_for :versions, stand.versions.build do |f_version|
    = render partial: 'versions/form', locals: {previous_version: stand.current_version, f: f_version}
